.bottom-bar{
    .container-fluid {
        background-color: #333;
        color: white;
        .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;
          text-transform: uppercase;
          button {
            border-color: dodgerblue;
            padding: 10px;
            background-color: #333;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
          }
          .follow-us {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: dodgerblue;
            span {
              margin-right: 20px;
            }
            img {
              max-height: 30px;
              margin-right: 20px;
            }
          }
        }
    }
}