.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container img {
  height: 60px;
}

.container ul {
  display: flex;
}

.container ul li {
  height: 55px;
  margin: 20px 20px 0;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.container ul li:hover {
  border-bottom: 4px solid dodgerblue;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100px;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  cursor: pointer;
}

